name: DevSecOps Pipeline with Monitoring

on:
  push:
    branches: [ "main" ]

jobs:

  checkout:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

  build:
    runs-on: ubuntu-latest
    needs: checkout
    steps:
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - run: pip install -r app/requirements.txt
    - run: python -m py_compile app/app.py

  sast:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - run: pip install bandit
    - run: bandit -r app/

  docker:
    runs-on: ubuntu-latest
    needs: sast
    steps:
    - run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
    - run: docker build -t ${{ secrets.DOCKER_USERNAME }}/github-demo:latest .
    - run: docker push ${{ secrets.DOCKER_USERNAME }}/github-demo:latest

  container-scan:
    runs-on: ubuntu-latest
    needs: docker
    steps:
    - uses: aquasecurity/trivy-action@master
      with:
        image-ref: "${{ secrets.DOCKER_USERNAME }}/github-demo:latest"

  monitoring-setup:
    runs-on: ubuntu-latest
    needs: container-scan
    steps:
    - name: Setup kubeconfig
      run: |
        echo "${{ secrets.KUBECONFIG_DATA }}" | base64 -d > kubeconfig
        export KUBECONFIG=$PWD/kubeconfig

    - name: Install Helm
      uses: azure/setup-helm@v3

    - name: Add Helm Repo
      run: |
        helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
        helm repo update

    - name: Install Monitoring Stack
      run: |
        helm upgrade --install monitoring prometheus-community/kube-prometheus-stack \
        --namespace monitoring --create-namespace

  monitoring-validation:
    runs-on: ubuntu-latest
    needs: monitoring-setup
    steps:
    - name: Setup kubeconfig
      run: |
        echo "${{ secrets.KUBECONFIG_DATA }}" | base64 -d > kubeconfig
        export KUBECONFIG=$PWD/kubeconfig

    - name: Validate Prometheus
      run: |
        kubectl get pods -n monitoring
        kubectl wait --for=condition=Ready pod -l app.kubernetes.io/name=prometheus -n monitoring --timeout=180s

  deploy:
    runs-on: ubuntu-latest
    needs: monitoring-validation
    steps:
    - name: Setup kubeconfig
      run: |
        echo "${{ secrets.KUBECONFIG_DATA }}" | base64 -d > kubeconfig
        export KUBECONFIG=$PWD/kubeconfig

    - name: Deploy App
      run: kubectl apply -f k8s/

  dast:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
    - name: Run OWASP ZAP
      run: |
        docker run -t owasp/zap2docker-stable zap-baseline.py \
        -t http://<NODE-IP>:30007 \
        -r report.html
